<table class="ui fixed table">
    <thead>
    <tr>
        <th>Comment</th>
        <th>Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    #{list items:_commentlist.comments, as:'comment'}
    <tr>
        <td>
        ${comment.comment}
        </td>
        <td>
        ${comment.date}
        </td>

        <td>
            <a href="/commentlist/${_commentlist.id}/deletecomment/${comment.id}" class="ui tiny red button">Delete Comment</a>
        </td>
    </tr>
    #{/list}
    </tbody>
</table>


