<table class="ui fixed table">
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Location</th>
      <th>Duration</th>
      <th>Calories Burnt</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    #{list items:_exerciselist.exercises, as:'exercise'}
      <tr>
        <td>
          ${exercise.name}
        </td>
        <td>
          ${exercise.location}
        </td>
        <td>        
          ${exercise.duration}
        </td>  
        <td>        
         ${exercise.duration*10}
        </td>    
         <td>
            <a href="/exerciselists/${_exerciselist.id}/deleteexercise/${exercise.id}" class="ui tiny red button">Delete Exercise</a>
          </td>         
      </tr>
    #{/list}
  </tbody>
</table>

  <table class="ui fixed table">
    <thead>
    <tr>
      <th>Total Exercise Time</th>
      <th>Total Calories Burnt</th>
    </tr>
    </thead>
  <tbody>
  #{list items:_exerciselist, as:'exerciselist'}
  <tr>
    <td>
    ${exerciselist.duration}
    </td>
    <td>
    ${exerciselist.duration*10}
    </td>
  </tr>
  #{/list}
  </tbody>
</table>