#{extends 'main.html' /}
#{set name:'Assessment' /}

#{menu id:"assessment"/}

#{list items:assessmentlist, as:'assessmentlist'}
<section class="ui segment">
    <h2 class="ui header">
    ${assessmentlist.week}
    </h2>
    <p> Date: ${assessmentlist.date} </p>
    <a href="/assessmentlists/${assessmentlist}" class="ui icon button">
        <i class="icon folder open"></i>
    </a>
    <a href="/assessment/deleteassessmentlist/${assessmentlist.id}" class="ui icon button">
        <i class="icon trash"></i>
    </a>
</section>
#{/list}
#{addcommentlist /}

<section class="ui segment">
    <h2 class="ui header">
       Assessments
    </h2>
#{listassessments assessment:assessment /}

</section>
<section class="ui segment">
    <h2 class="ui header">
        Add Assessment
    </h2>
#{addassessment assessment:assessment /}
</section>


