#{extends 'main.html' /}
#{set name:'AssessmentDetails' /}

#{menu id:"assessmentdetails"/}

#{list items:assessmentlist, as:'assessmentlist'}
<section class="ui segment">
    <h2 class="ui header">
    ${assessmentlist.week}
    </h2>
    <p> Date: ${assessmentlist.date} </p>
    <a href="/assessmentlists/${assessmentlist.id}" class="ui icon button">
        <i class="icon folder open"></i>
    </a>
    <a href="/assessmentdetails/deleteassessmentlist/${assessmentlist.id}" class="ui icon button">
        <i class="icon trash"></i>
    </a>
</section>
#{/list}
#{addassessmentlist /}