#{extends 'main.html' /}
#{set name:'Dashboard' /}

#{menu id:"dashboard"/}

#{list items:exerciselists, as:'exerciselist'}
  <section class="ui segment">
    <h2 class="ui header">
      ${exerciselist.name} 
    </h2>
      <p> Total Duration: ${exerciselist.duration} </p>
      <a href="/exerciselists/${exerciselist.id}" class="ui icon button">
        <i class="icon folder open"></i>
      </a>
      <a href="/dashboard/deleteexerciselist/${exerciselist.id}" class="ui icon button">
        <i class="icon trash"></i>
      </a>
  </section>
#{/list}
#{addexerciselist /}



