#{extends 'main.html' /}
#{set name:'Dashboard' /}

#{menu id:"dashboard"/}

<table class="ui fixed table">
  <thead>
  <tr>
    <th>Date </th>
    <th>Weight</th>
    <th>Chest</th>
    <th>Thigh</th>
    <th>Upper Arm</th>
    <th>Waist</th>
    <th>Hips</th>
  </tr>
  </thead>
  <tbody>
  #{list items:assessment, as:'assessment'}
  <tr>
    <td>
    ${assessment.date}
    </td>
    <td>
    ${assessment.weight}
    </td>
    <td>
    ${assessment.chest}
    </td>
    <td>
    ${assessment.thigh}
    </td>
    <td>
    ${assessment.upperArm}
    </td>
    <td>
    ${assessment.waist}
    </td>
    <td>
    ${assessment.hips}
    </td>
  </tr>
  #{/list}
  </tbody>
</table>

#{addassessment /}



