#{extends 'main.html' /}
#{set name:'Dashboard' /}

#{menu id:"dashboard"/}

#{list items:assessmentlists, as:'assessmentlist'}
  <section class="ui segment">
    <h2 class="ui header">
      Week: ${assessmentlist.week} Assessments
    </h2>
      <p> Week: ${assessmentlist.week} </p>
      <a href="/assessmentlists/${assessmentlist.id}" class="ui icon button">
        <i class="icon folder open"></i>
      </a>
      <a href="/dashboard/deleteassessmentlist/${assessmentlist.id}" class="ui icon button">
        <i class="icon trash"></i>
      </a>
  </section>
#{/list}
#{addassessmentlist /}



