#{extends 'main.html' /}
#{set title:'Member' /}

#{menu id:"memberlist"/}

<section class="ui raised segment">
    <header class="ui header">
        Member Details
    </header>
    <div class="ui bulleted list">
    #{list items:memberlist, as:'member'}
        <div class="ui item">First Name: ${member.firstname} </div>
        <div class="ui item">Last Name: ${member.lastname} </div>
        <div class="ui item">Gender: ${member.gender} </div>
        <div class="ui item">Email: ${member.email} </div>
        <div class="ui item">Address: ${member.address} </div>
        <div class="ui item">Height: ${member.height} </div>
        <div class="ui item">Weight: ${member.startWeight} </div>
        <div class="ui item">BMI: ${member.startWeight/((member.height/100)*(member.height/100))} </div>
        <div class="ui item">Package: ${member.chosenPackage} </div>
        <div class="ui item">Comment: ${member.comment} </div>

#{/list}
    </div>
</section>


<section class="ui segment">
    <h2 class="ui header">
    Comments Section
    </h2>
    <p> See All
    <a href="/commentdetails" class="ui icon button">
        <i class="icon comment"></i>
    </a>
    </p>
</section>