#{extends 'main.html' /}
#{set title:'Profile' /}

#{menu id:"members"/}

<section class="ui raised segment">
<div class="ui two column grid basic middle aligned segment">
    #{list items:user, as:'user'}
            <div class="row" style="font-size: x-large">
                <div class="col"><i class="icon profile"></i>${user.firstname} ${user.lastname}</div>
                <div class="col">Gender:#{if user.gender == "Female"}<i class="icon woman"></i> #{/if} #{else}<i class="icon man"></i>#{/else}</div>
                <div class="col">BMI: #{if (user.startWeight/((user.height/100)*(user.height/100)))>20} <i class="fa fa-heartbeat"; style="color: #dc0e00"></i> #{/if}</div>
                <div class="col">Weight: #{if (user.startWeight)>90} <i class="fa fa-weight"; style="color: #dc0e00"></i> #{/if}</div>
            </div>
    #{/list}
</div>
</section>



<section class="ui raised segment">
    <header class="ui header">
        Member Details
    </header>
    <div class="ui bulleted list">
     #{list items:user, as:'user'}
        <div class="ui item">First Name: ${user.firstname} </div>
        <div class="ui item">Last Name: ${user.lastname} </div>
        <div class="ui item">Gender: ${user.gender} </div>
        <div class="ui item">Email: ${user.email} </div>
        <div class="ui item">Address: ${user.address} </div>
        <div class="ui item">Height: ${user.height} </div>
        <div class="ui item">Weight: ${user.startWeight} </div>
        <div class="ui item">BMI: ${user.startWeight/((user.height/100)*(user.height/100))} </div>
        <div class="ui item">Package: ${user.chosenPackage} </div>
        <div class="ui item">Comment: ${user.comment} </div>

     #{/list}
    </div>
</section>

<section class="ui segment">
    <h2 class="ui header">
    Comments Section
    </h2>
    <p> See All
     <a href="/commentdetails" class="ui icon button">
        <i class="icon comment"></i>
     </a>
    </p>
</section>

