#{extends 'main.html' /}
#{set title:'Member' /}

#{menu id:"member"/}

<section class="ui raised segment">
    <header class="ui header">
        Member Details 

    </header>
    <div class="ui bulleted list">
    #{list items:memberlist, as:'member'}
    <section class="ui segment">
        <h2 class="ui header">
            ${member.name}
        </h2>
        <p>
            ${member.gender}
        </p>
        <a href="/member/${member.id}">View</a>
    </section>
        <div class="ui item"> Member: ${member.id} </div>
        <div class="ui item"> Full Name: ${member.name} </div>
        <div class="ui item"> Email: ${member.email} </div>
        <div class="ui item"> Address: ${member.address} </div>
        <div class="ui item"> Gender: ${member.gender} </div>
        </br>



    #{/list}
    </div>
    <div style="font-size: 30px;">
     <i class="far fa-id-badge"></i>
    </div>
</section>