#{extends 'main.html' /}
#{set title:'Member' /}

#{menu id:"member"/}

<section class="ui raised segment">
    <header class="ui header">
        Member Details
    </header>
    <div class="ui bulleted list">
    #{list items:memberlist, as:'member'}
        <div class="ui item"> Member: ${member.id} </div>
        <div class="ui item"> Full Name: ${member.name} </div>
        <div class="ui item"> Email: ${member.email} </div>
        <div class="ui item"> Address: ${member.address} </div>
        <div class="ui item"> Gender: ${member.gender} </div>
        </br>
       
    #{/list}
    </div>
</section>