#{extends 'main.html' /}
#{set title:'Home' /}


<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    KB Health
  </h1>
  <h3>
  	Please enter your details to register
  </h3>
  <p>
  	
    <form class="ui stacked segment form" action="/member/addUser" method="POST">
    <div class="field">
        <label>Registration Form</label>
        <input placeholder="Full Name" type="text" name="name"> </br>
        <input placeholder="Email" type="text" name="email">
        <input placeholder="Password" type="text" name="password">
        <input placeholder="Confirm Password" type="text" name="">
        <input placeholder="Address" type="text" name="address">
        <input placeholder="Gender" type="text" name="gender">
     
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <a href="/login">
    <button type="button" class="btn btn-secondary">Returning User</button>
    </a>

  </p>
</section>
