#{extends 'main.html' /}
#{set title:'Home' /}


<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    KB Health
  </h1>
  <h3>
  	Simple Fitness & Weight Loss
  </h3>
  <p>
  	<a id="signup" class="item" href="/signup">
    <button type="button" class="btn btn-primary">I'm a New User</button>
    </a> </br> </br>

    <a id="login" class="item" href="/login">
    <button type="button" class="btn btn-secondary">Returning User</button>
    </a>
  </p>
</section>

<script>
  $("#${_id}").addClass("active item");
</script>
