#{extends 'main.html' /}
#{set name:'Dashboard' /}

#{menu id:"trainer"/}

  <section class="ui segment">
  <h2 class="ui header">
    All Known Exercises in the Database:
  </h2>
  <table class="ui fixed table">
    <thead>
      <tr>
        <th>ID </th>
        <th>Song</th>
        <th>Location</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      #{list items:exercises, as:'exercise'}
        <tr>
          <td>
            ${exercise.id}
          </td>
          <td>
            ${exercise.name}
          </td>
          <td>
            ${exercise.location}
          </td>
          <td>        
            ${exercise.duration}
          </td>        
        </tr>
      #{/list}
    </tbody>
  </table>
</section>
