#{extends 'main.html' /}
#{set name:'Userdetails' /}

#{menu id:"userdetails"/}

#{list items:userDetailsList, as:'userdetails'}
<section class="ui segment">
    <h2 class="ui header">
    ${userDetailsList.name}
    </h2>
    <p> Name: ${userDetailsList.firstname} </p>
    <a href="/userDetails/${exerciselist.id}" class="ui icon button">
        <i class="icon folder open"></i>
    </a>
    <a href="/dashboard/deleteexerciselist/${exerciselist.id}" class="ui icon button">
        <i class="icon trash"></i>
    </a>
</section>
#{/list}